# Lending Club - Loan Approval Process Optimization

# 3. Preprocessing

## 3.1 Imports

In [1]:
# Import the libraries necessary for the current task
import pandas as pd
import numpy as np
from numpy import nan
import matplotlib.pyplot as plt
import seaborn as sns
import os

# pandas Configuration
pd.set_option("max_rows", 120)
pd.set_option("max_columns", 120)
pd.set_option("display.max_colwidth", None)

## 3.2 Data

In [2]:
# Load the CSV data
LC_data = pd.read_csv(r"C:\Users\lastr\Desktop\GitHub\Lending_Club_Capstone\data\lending_club_loans_EDA.csv")

In [3]:
# Summary of the data
LC_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39239 entries, 0 to 39238
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   loan_amnt             39239 non-null  float64
 1   term                  39239 non-null  object
 2   installment           39239 non-null  float64
 3   grade                 39239 non-null  int64
 4   emp_length            39239 non-null  int64
 5   home_ownership        39239 non-null  object
 6   annual_inc            39239 non-null  float64
 7   verification_status   39239 non-null  object
 8   loan_type             39239 non-null  int64
 9   purpose               39239 non-null  object
 10  addr_state            39239 non-null  object
 11  dti                   39239 non-null  float64
 12  delinq_2yrs           39239 non-null  float64
 13  earliest_cr_line      39239 non-null  object
 14  inq_last_6mths        39239 non-null  float64
 15  open_acc              39239 non-null  float64
 16  pub_rec               39239 non-null  float64
 17  revol_bal             39239 non-null  float64
 18  revol_util            39189 non-null  float64
 19  total_acc             39239 non-null  float64
 20  last_credit_pull_d    39237 non-null  object
 21  pub_rec_bankruptcies  38542 non-null  float64
 22  fico_range_avg        39239 non-null  float64
dtypes: float64(13), int64(3), object(7)
memory usage: 6.9+ MB

In [4]:
# Check for the missing values
LC_data.isnull().sum()

loan_amnt                 0
term                      0
installment               0
grade                     0
emp_length                0
home_ownership            0
annual_inc                0
verification_status       0
loan_type                 0
purpose                   0
addr_state                0
dti                       0
delinq_2yrs               0
earliest_cr_line          0
inq_last_6mths            0
open_acc                  0
pub_rec                   0
revol_bal                 0
revol_util               50
total_acc                 0
last_credit_pull_d        2
pub_rec_bankruptcies    697
fico_range_avg            0
dtype: int64

In [5]:
# First 5 entries of the data
LC_data.head()

,loan_amnt,term,installment,grade,emp_length,home_ownership,annual_inc,verification_status,loan_type,purpose,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,last_credit_pull_d,pub_rec_bankruptcies,fico_range_avg
0,5000.0,36 months,162.87,1,10,RENT,24000.0,Verified,1,credit_card,AZ,27.65,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7,9.0,Sep-2016,0.0,737.0
1,2500.0,60 months,59.83,2,0,RENT,30000.0,Source Verified,0,car,GA,1.00,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4,4.0,Sep-2016,0.0,742.0
2,2400.0,36 months,84.33,2,10,RENT,12252.0,Not Verified,1,small_business,IL,8.72,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5,10.0,Sep-2016,0.0,737.0
3,10000.0,36 months,339.31,2,10,RENT,49200.0,Source Verified,1,other,CA,20.00,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21.0,37.0,Apr-2016,0.0,692.0
4,5000.0,36 months,156.46,0,3,RENT,36000.0,Source Verified,1,wedding,AZ,11.20,0.0,Nov-2004,3.0,9.0,0.0,7963.0,28.3,12.0,Jan-2016,0.0,732.0

## 3.3 Data Processing

### 3.3.1 Handling Missing Values

In [6]:
# Columns with missing values: revol_util, last_credit_pull_d, pub_rec_bankruptcies
LC_data['revol_util'].fillna(LC_data['revol_util'].median(), inplace=True)
LC_data['last_credit_pull_d'].fillna(LC_data['last_credit_pull_d'].mode()[0], inplace=True)
LC_data['pub_rec_bankruptcies'].fillna(LC_data['pub_rec_bankruptcies'].mode()[0], inplace=True)

### 3.3.2 DateTime Object

In [7]:
# Convert earliest_cr_line and last_credit_pull_d to datetime objects
LC_data['earliest_cr_line'] = pd.to_datetime(LC_data['earliest_cr_line'])
LC_data['last_credit_pull_d'] = pd.to_datetime(LC_data['last_credit_pull_d'])

In [8]:
# Check the dtypes
LC_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39239 entries, 0 to 39238
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   loan_amnt             39239 non-null  float64
 1   term                  39239 non-null  object
 2   installment           39239 non-null  float64
 3   grade                 39239 non-null  int64
 4   emp_length            39239 non-null  int64
 5   home_ownership        39239 non-null  object
 6   annual_inc            39239 non-null  float64
 7   verification_status   39239 non-null  object
 8   loan_type             39239 non-null  int64
 9   purpose               39239 non-null  object
 10  addr_state            39239 non-null  object
 11  dti                   39239 non-null  float64
 12  delinq_2yrs           39239 non-null  float64
 13  earliest_cr_line      39239 non-null  datetime64[ns]
 14  inq_last_6mths        39239 non-null  float64
 15  open_acc              39239 non-null  float64
 16  pub_rec               39239 non-null  float64
 17  revol_bal             39239 non-null  float64
 18  revol_util            39239 non-null  float64
 19  total_acc             39239 non-null  float64
 20  last_credit_pull_d    39239 non-null  datetime64[ns]
 21  pub_rec_bankruptcies  39239 non-null  float64
 22  fico_range_avg        39239 non-null  float64
dtypes: datetime64[ns](2), float64(13), int64(3), object(5)
memory usage: 6.9+ MB

### 3.3.3 One-Hot Encoding

In [9]:
# Create dummy variables for nominal features
nominal_features = []

for col in LC_data.columns:
    if LC_data[col].dtype == 'object':
        nominal_features.append(col)

dummies_df = pd.get_dummies(LC_data[nominal_features])
LC_data = pd.concat([LC_data, dummies_df], axis=1)
LC_data = LC_data.drop(nominal_features, axis=1)

In [10]:
# Check the first 5 entries of the modified data frame
LC_data.head()

,loan_amnt,installment,grade,emp_length,annual_inc,loan_type,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,last_credit_pull_d,pub_rec_bankruptcies,fico_range_avg,term_ 36 months,term_ 60 months,home_ownership_MORTGAGE,home_ownership_NONE,home_ownership_OTHER,home_ownership_OWN,home_ownership_RENT,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,purpose_car,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,addr_state_AK,addr_state_AL,addr_state_AR,addr_state_AZ,addr_state_CA,addr_state_CO,addr_state_CT,addr_state_DC,addr_state_DE,addr_state_FL,addr_state_GA,addr_state_HI,addr_state_IA,addr_state_ID,addr_state_IL,addr_state_IN,addr_state_KS,addr_state_KY,addr_state_LA,addr_state_MA,addr_state_MD,addr_state_ME,addr_state_MI,addr_state_MN,addr_state_MO,addr_state_MS,addr_state_MT,addr_state_NC,addr_state_NE,addr_state_NH,addr_state_NJ,addr_state_NM,addr_state_NV,addr_state_NY,addr_state_OH,addr_state_OK,addr_state_OR,addr_state_PA,addr_state_RI,addr_state_SC,addr_state_SD,addr_state_TN,addr_state_TX,addr_state_UT,addr_state_VA,addr_state_VT,addr_state_WA,addr_state_WI,addr_state_WV,addr_state_WY
0,5000.0,162.87,1,10,24000.0,1,27.65,0.0,1985-01-01,1.0,3.0,0.0,13648.0,83.7,9.0,2016-09-01,0.0,737.0,1,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2500.0,59.83,2,0,30000.0,0,1.00,0.0,1999-04-01,5.0,3.0,0.0,1687.0,9.4,4.0,2016-09-01,0.0,742.0,0,1,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2400.0,84.33,2,10,12252.0,1,8.72,0.0,2001-11-01,2.0,2.0,0.0,2956.0,98.5,10.0,2016-09-01,0.0,737.0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,10000.0,339.31,2,10,49200.0,1,20.00,0.0,1996-02-01,1.0,10.0,0.0,5598.0,21.0,37.0,2016-04-01,0.0,692.0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,5000.0,156.46,0,3,36000.0,1,11.20,0.0,2004-11-01,3.0,9.0,0.0,7963.0,28.3,12.0,2016-01-01,0.0,732.0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [11]:
# Summary of the modified data frame
LC_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39239 entries, 0 to 39238
Data columns (total 92 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   loan_amnt                            39239 non-null  float64
 1   installment                          39239 non-null  float64
 2   grade                                39239 non-null  int64
 3   emp_length                           39239 non-null  int64
 4   annual_inc                           39239 non-null  float64
 5   loan_type                            39239 non-null  int64
 6   dti                                  39239 non-null  float64
 7   delinq_2yrs                          39239 non-null  float64
 8   earliest_cr_line                     39239 non-null  datetime64[ns]
 9   inq_last_6mths                       39239 non-null  float64
 10  open_acc                             39239 non-null  float64
 11  pub_rec                              39239 non-null  float64
 12  revol_bal                            39239 non-null  float64
 13  revol_util                           39239 non-null  float64
 14  total_acc                            39239 non-null  float64
 15  last_credit_pull_d                   39239 non-null  datetime64[ns]
 16  pub_rec_bankruptcies                 39239 non-null  float64
 17  fico_range_avg                       39239 non-null  float64
 18  term_ 36 months                      39239 non-null  uint8
 19  term_ 60 months                      39239 non-null  uint8
 20  home_ownership_MORTGAGE              39239 non-null  uint8
 21  home_ownership_NONE                  39239 non-null  uint8
 22  home_ownership_OTHER                 39239 non-null  uint8
 23  home_ownership_OWN                   39239 non-null  uint8
 24  home_ownership_RENT                  39239 non-null  uint8
 25  verification_status_Not Verified     39239 non-null  uint8
 26  verification_status_Source Verified  39239 non-null  uint8
 27  verification_status_Verified         39239 non-null  uint8
 28  purpose_car                          39239 non-null  uint8
 29  purpose_credit_card                  39239 non-null  uint8
 30  purpose_debt_consolidation           39239 non-null  uint8
 31  purpose_educational                  39239 non-null  uint8
 32  purpose_home_improvement             39239 non-null  uint8
 33  purpose_house                        39239 non-null  uint8
 34  purpose_major_purchase               39239 non-null  uint8
 35  purpose_medical                      39239 non-null  uint8
 36  purpose_moving                       39239 non-null  uint8
 37  purpose_other                        39239 non-null  uint8
 38  purpose_renewable_energy             39239 non-null  uint8
 39  purpose_small_business               39239 non-null  uint8
 40  purpose_vacation                     39239 non-null  uint8
 41  purpose_wedding                      39239 non-null  uint8
 42  addr_state_AK                        39239 non-null  uint8
 43  addr_state_AL                        39239 non-null  uint8
 44  addr_state_AR                        39239 non-null  uint8
 45  addr_state_AZ                        39239 non-null  uint8
 46  addr_state_CA                        39239 non-null  uint8
 47  addr_state_CO                        39239 non-null  uint8
 48  addr_state_CT                        39239 non-null  uint8
 49  addr_state_DC                        39239 non-null  uint8
 50  addr_state_DE                        39239 non-null  uint8
 51  addr_state_FL                        39239 non-null  uint8
 52  addr_state_GA                        39239 non-null  uint8
 53  addr_state_HI                        39239 non-null  uint8
 54  addr_state_IA                        39239 non-null  uint8
 55  addr_state_ID                        39239 non-null  uint8
 56  addr_state_IL                        39239 non-null  uint8
 57  addr_state_IN                        39239 non-null  uint8
 58  addr_state_KS                        39239 non-null  uint8
 59  addr_state_KY                        39239 non-null  uint8
 60  addr_state_LA                        39239 non-null  uint8
 61  addr_state_MA                        39239 non-null  uint8
 62  addr_state_MD                        39239 non-null  uint8
 63  addr_state_ME                        39239 non-null  uint8
 64  addr_state_MI                        39239 non-null  uint8
 65  addr_state_MN                        39239 non-null  uint8
 66  addr_state_MO                        39239 non-null  uint8
 67  addr_state_MS                        39239 non-null  uint8
 68  addr_state_MT                        39239 non-null  uint8
 69  addr_state_NC                        39239 non-null  uint8
 70  addr_state_NE                        39239 non-null  uint8
 71  addr_state_NH                        39239 non-null  uint8
 72  addr_state_NJ                        39239 non-null  uint8
 73  addr_state_NM                        39239 non-null  uint8
 74  addr_state_NV                        39239 non-null  uint8
 75  addr_state_NY                        39239 non-null  uint8
 76  addr_state_OH                        39239 non-null  uint8
 77  addr_state_OK                        39239 non-null  uint8
 78  addr_state_OR                        39239 non-null  uint8
 79  addr_state_PA                        39239 non-null  uint8
 80  addr_state_RI                        39239 non-null  uint8
 81  addr_state_SC                        39239 non-null  uint8
 82  addr_state_SD                        39239 non-null  uint8
 83  addr_state_TN                        39239 non-null  uint8
 84  addr_state_TX                        39239 non-null  uint8
 85  addr_state_UT                        39239 non-null  uint8
 86  addr_state_VA                        39239 non-null  uint8
 87  addr_state_VT                        39239 non-null  uint8
 88  addr_state_WA                        39239 non-null  uint8
 89  addr_state_WI                        39239 non-null  uint8
 90  addr_state_WV                        39239 non-null  uint8
 91  addr_state_WY                        39239 non-null  uint8
dtypes: datetime64[ns](2), float64(13), int64(3), uint8(74)
memory usage: 8.2 MB

## 3.4 Save Data

In [7]:
data_path = r"C:\Users\lastr\Desktop\GitHub\Lending_Club_Capstone\data"
data_path_lending_club_loans = os.path.join(data_path, "lending_club_loans_preprocessed.csv")

if not os.path.exists(data_path_lending_club_loans):
    LC_data.to_csv(data_path_lending_club_loans, index=False)